<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CRUD Monolith</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid w-50">
            <h1>CRUD Monolith</h1>
            <a class="btn btn-primary" href="/add" role="button">Add</a>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">carname</th>
                    <th scope="col">carbrand</th>
                    <th scope="col">carmodel</th>
                    <th scope="col">carprice</th>
                    <th scope="col">action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for car in cars %}
                    <tr>
                        <td>{{ car.id }}</td>
                        <td>{{ car.carname }}</td>
                        <td>{{ car.carbrand }}</td>
                        <td>{{ car.carmodel }}</td>
                        <td>{{ car.carprice }}</td>
                        <td>
                            <a class="btn btn-danger" href="/delete/{{car.id}}" role="button">Delete</a>
                            <a class="btn btn-primary" href="/edit/{{car.id}}" role="button">edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </body>
</html>